@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #1e1f36;
  --secondary-color: #4b4c5f;
  --tertiary-color: #787887;
  --Kumbh_sans: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin font($color, $size, $weight) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

html {
  font-size: 62.5%;

  body {
    height: 100vh;
    font-family: var(--Kumbh_sans);
    background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
      width: 92rem;
      height: 50.9rem;
      border-radius: 23px;
      background: #fff;
      box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);

      display: flex;

      .img {
        transform: translate(-57.2rem, 7rem);
        width: 45rem;

        img:nth-child(1) {
          width: 96.4rem;
          height: 58rem;
        }

        img:nth-child(2) {
          display: none;
        }
      }

      .content {
        width: 37rem;
        padding: 6.5rem 0;
        overflow: hidden;

        .title {
          @include font(#1e1f36, 3.2rem, 700);
        }
        .item_con {
          margin-top: 2.5rem;
          details {
            padding: 2rem 0;
            border-bottom: 0.1rem solid #e8e8ea;
            summary {
              @include font(#4b4c5f, 1.4rem, 400);
              line-height: 1.8rem;
              letter-spacing: 0.1rem;
              list-style-type: none;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
            p {
              @include font(#787887, 1.5rem, 400);
            }
          }
          details[open] {
            summary {
              svg {
                transform: rotate(180deg);
              }
            }
            p {
              padding: 1rem 1rem 0 1rem;
            }
          }
          details:hover {
            cursor: pointer;
            summary:hover {
              color: #f47b56;
              transition: color 0.3s ease;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1111px) {
  html {
    body {
      height: 100vh;
      display: block;
      width: 100%;
      padding: 10rem 10rem;
      overflow: hidden;

      .wrapper {
        display: flex;
        padding: 0 3.5rem;
        width: 100%;
        height: 50.9rem;

        .img {
          width: 40rem;
          transform: translate(-60.5rem, 7rem);

          img {
            width: 100%;
            margin: 0 auto;
          }
          img:nth-child(1) {
            display: block;
          }
          img:nth-child(2) {
            display: none;
          }
        }

        .content {
          width: 100%;

          .title {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  html {
    body {
      height: 100vh;
      display: block;
      width: 100%;
      padding: 10rem 5rem 10rem 15rem;
      overflow: hidden;

      .wrapper {
        display: flex;
        padding: 0 3.5rem;
        width: 100%;
        height: 47rem;

        .img {
          width: 30rem;
          transform: translate(-67rem, 7rem);

          img {
            width: 100%;
            margin: 0 auto;
          }
          img:nth-child(1) {
            display: block;
          }
          img:nth-child(2) {
            display: none;
          }
        }

        .content {
          width: 100%;

          .title {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 856px) {
  html {
    body {
      .wrapper {
        .content {
          padding: 4rem 0;

          .title {
            margin: 0;
          }

          .item_con {
            padding: 2rem 0;
            margin: 0;

            p {
              padding: 0.5rem;
              font-size: 2rem;
            }

            details {
              padding: 1.5rem 0;
              summary {
                font-size: 2.3rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  html {
    body {
      height: 100%;
      padding: 26rem 3rem 12rem 3rem;
      overflow: scroll;

      .wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 3.5rem;
        width: 100%;
        height: auto;

        .img {
          width: inherit;
          transform: translate(-1.5rem, -50%);

          img {
            width: 100%;
            margin: 0 auto;
          }
          img:nth-child(1) {
            display: none;
          }
          img:nth-child(2) {
            display: block;
          }
        }

        .content {
          padding: 0;
          width: 100%;
          transform: translate(0, -13rem);

          .title {
            display: block;
            text-align: center;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  html {
    body {
      height: 100%;
      padding: 18rem 3rem 12rem 3rem;
      overflow: scroll;

      .wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 3.5rem;
        width: 100%;
        height: auto;

        .img {
          width: inherit;
          transform: translate(-1.5rem, -50%);

          img {
            width: 100%;
            margin: 0 auto;
          }
          img:nth-child(1) {
            display: none;
          }
          img:nth-child(2) {
            display: block;
          }
        }

        .content {
          padding: 0;
          width: 100%;
          transform: translate(0, -8rem);

          .title {
            display: block;
            text-align: center;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
